@import "@/variables.module.scss";

.avatar {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16px);
  padding: 0 $paddingMedium;

  .action {
    display: flex;
    align-items: center;
  }

  .user {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      span {
        color: $primaryColor;
      }
    }

    span {
      margin-left: $paddingBig;
      color: $textColor;
      font-weight: 600;
    }
  
    img {
      border-radius: 50%;
    } 
  }

  .action {
    display: flex;
    align-items: center;  
  }

  &.big {
    .user {
      cursor: default;
      img {
        width: 75px !important;
        height: 75px !important;
      }
      span {
        font-size: 20px;
      }
    }
  }
  
  &.normal {
    .user {
      img {

        width: 50px !important;
        height: 50px !important;
      }
      span {
        font-size: 18px;
      }
    }
  }

  &.small {
    .user {
      img {
        width: 35px !important;
        height: 35px !important;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

.post {
  max-width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    gap: $paddingMedium;

    & > button {
      padding: 0;
      height: fit-content;
      width: 100%;
      span {
        font-weight: 500;
        white-space: normal;
        font-size: 20px;
        line-height: 22px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        color: $textColor;
        text-align: start;
        white-space: pre-wrap;
        &:hover {
          color: $primaryColor;
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: $paddingBig;

    span {
      width: 100%;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 8;
      line-clamp: 8;
      padding: 0 $paddingMedium;
      white-space: pre-wrap;
    }
  
    button {
      width: fit-content;
    }

    &.detailedBody {
      span {
        -webkit-line-clamp: none;
        line-clamp: none;
      }
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  gap: $paddingMedium;
  .commentsTitle {
    font-size: 20px;
    font-weight: 500;
  }
  .comment {
    & > div {
      padding: $paddingMedium;
    }
  }
}