@import "@/variables.module.scss";
@import "./DetailedPost/styles.module.scss";

.avatar {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16px);
  padding: 0 $paddingMedium;

  .action {
    display: flex;
    align-items: center;
  }

  .user {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      span {
        color: $primaryColor;
      }
    }

    span {
      margin-left: $paddingBig;
      color: $textColor;
      font-weight: 600;
    }
  
    img {
      border-radius: 50%;
    } 
  }

  .action {
    display: flex;
    align-items: center;  
  }

  &.big {
    .user {
      cursor: default;
      img {
        width: 75px !important;
        height: 75px !important;
      }
      span {
        font-size: 20px;
      }
    }
  }
  
  &.normal, &.header, &.article {
    .user {
      img {
        width: 50px !important;
        height: 50px !important;
      }
      span {
        font-size: 18px;
      }
    }
  }

  &.small {
    .user {
      img {
        width: 35px !important;
        height: 35px !important;
      }
      span {
        font-size: 14px;
      }
    }
  }

  &.header {
    width: fit-content;
    .user > span {
      color: white;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  gap: $paddingMedium;
  width: 100%;
  .commentsTitle {
    font-size: 20px;
    font-weight: 500;
  }
  .comment {
    & > div {
      padding: $paddingMedium;
    }
  }
}

.filters {
  width: 100%;
  & > div {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    & > div:nth-child(1) {
      max-width: 33%;
    }
    & > div:nth-child(2) {
      width: 100%;
    }
    button {
      min-width: 32px;
    }
  }
}