@import "@/variables.module.scss";

.topPanel {
  display: flex;
  width: 100%;
  margin-bottom: $paddingBig;

  button.stopBtn {
    color: white;
    background-color: $errorColor;
  }

  button.nextBtn {
    color: white;
    background-color: $successColor;
  }
  div {
    width: 100%;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }
}

.referenceContent {
  width: 100%;
  img {
    max-height: 100vh;
  }
}