@import "@/variables.module.scss";

.topPanel {
  display: flex;
  margin-bottom: $paddingBig;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $primaryColor;
  border-radius: 0;
  border: 0;
  width: 100%;

  div {
    width: 100%;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }

  h2 {
    position: absolute;
    left: 20%;
    right: auto;
    
  }

  button.stopBtn {
    color: white;
    background-color: $errorColor;
  }

  button.nextBtn {
    color: white;
    background-color: $successColor;
  }

  div.timerBlock {
    position: absolute;
    left: 10rem;
    right: auto;
    width: 10rem;
  }
}

.referenceContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: 80vh;
  }
}