@import "@/variables.module.scss";

.editAvatar {
  display: flex;
  gap: $paddingMedium;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
  }
}

.settings {
  & > div {
    display: flex !important;
    align-items: center;
    &::before, &::after {
      display: none !important;
    }
  }

  .doubleRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $paddingMedium;
  }

  .trippleRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $paddingMedium;
  }
}

.nextToAvatar {
  display: flex;
  flex-direction: column;
  gap: $paddingBig;
}

.settingsItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $paddingSmall;
  span {
    color: $primaryColor;
    font-size: 500;
  }
  input {
    height: 32px;
  }

  textarea {
    resize: none;
  }
}