@import "@/variables.module.scss";
$layoutPadding: 8px 16%;

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-color: $bgColor;

  .reference {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .header {
    z-index: 100;
    min-height: 50px;
    display: flex;
    padding: $layoutPadding;
    margin-bottom: 24px;
    background-color: $primaryColor;
    justify-content: space-between;
    color: white !important;

    &.referenceHeader {
      margin-bottom: 0px !important;
    }

    &Login {
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        border-inline-start-color: white;
      }
    }
  }

  .content {
    display: grid;
    padding: $layoutPadding;
    height: auto;
    gap: $paddingMedium;
    grid-template-columns: calc(100% - (366px + $paddingMedium)) 366px;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: $paddingBig;
    max-width: 100%;
    padding: 0 $paddingMedium;
    align-items: center;
  }

  .footer {
    min-height: 60px;
    display: flex;
    padding: $layoutPadding;
    margin-top: 24px;
    background-color: $primaryColor;
    color: white;
  }

  .scrollTop {
    width: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(rgb(200, 200, 200), 0.2);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .sider {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    &Latest, &Actions {
      display: flex;
      flex-direction: column;
      border-radius: $borderRadius;
    }
    &Actions {
      div {
        display: flex;
        flex-direction: column;
        gap: $paddingMedium;
      }
    }

    &Latest {
      height: fit-content;
      &List {
        display: flex;
        flex-direction: column;
        gap: $paddingMedium;
      }
    }
  }

  .ant-card {
    padding: 0px;
    .ant-card-body {
      display: flex;
      flex-direction: column;
      gap: $paddingMedium;
      padding: $paddingBig;
      &::before, &::after {
        display: none;
      }
    }
  }
  
  .ant-divider {
    margin: 0px;
  }
}

.feedbackContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $paddingMedium;
}
