@import "@/variables.module.scss";

.settingsItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $paddingSmall;
  & > span {
    color: $primaryColor;
    font-size: 500;
  }
  input {
    height: 32px;
  }

  textarea {
    resize: none;
  }
}

div.pageTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  font-size: 1.2rem;
  gap: $paddingSmall;
}