@import "@/variables.module.scss";

.latestItem {
  padding: $paddingSmall;
  p {
    margin: 0px;
  }
  .latestItemContent {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    white-space: pre-wrap;
  }
}